.github/styles/.vale-config
.github/styles/alex
.github/styles/Google
.github/styles/Joblint
.github/styles/proselint
.github/styles/Readability
.github/styles/write-good
.redo
1
bin
clean
conky/conky
i3/i3
i3blocks-contrib
kitty/kitty
lint
mc/ini
mc/mc
node_modules
ohmyzsh
oh-my-zsh
package-lock.json
tags
terminator/terminator
tmux/plugins/tpm
tmux/tmux
vim/.netrwhist
vim/pack
vim/bundle
vifm/vifminfo
