---
name: linters
'on': push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ludeeus/action-shellcheck@master
        with:
          additional_files: >-
            aliases
            functions
            install
          ignore_paths: >-
            ./app/z.sh
            ./fzf.bash
            ./fzf.zsh
      - uses: mfinelli/setup-shfmt@v2
      - run: shfmt -d aliases bashrc functions install zshrc
      - uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: .github/*.yml .github/workflows/*.yml
          strict: true
